<!-- l-footer -->
<footer class="l-footer">
  <div class="l-footer__inner">
    <nav class="p-footer__nav">
      <ul class="p-footer__nav-list">
        <li class="p-footer__nav-list-item">
          <a href="<%= pages.room.link %>">お部屋</a>
        </li>
        <li class="p-footer__nav-list-item">
          <a href="<%= pages.menu.link %>">お料理</a>
        </li>
        <li class="p-footer__nav-list-item">
          <a href="<%= pages.onsen.link %>">温泉</a>
        </li>
      </ul>
    </nav>

    <div class="p-footer-logo">
      <a href="<%= pages.home.link %>" class="p-footer-logo__link"
        ><img
          src="<%= siteInfo.path.img.common %>footer-logo.svg"
          alt="ロゴ"
          width="145"
          height="92"
      /></a>
    </div>

    <div class="p-footer__access-wrapper">
      <div class="p-footer__access">
        <p class="p-footer__access-text">〒000-0000</p>
        <p class="p-footer__access-text p-footer__access-text--wide">
          山形県鶴岡市xxxxxxxxxxx
        </p>
      </div>
      <div class="p-footer__access">
        <p class="p-footer__access-text">TEL.000-0000-0000</p>
        <p class="p-footer__access-text">FAX.00-0000-0000</p>
      </div>
    </div>
  </div>
  <div class="p-footer__copyright-wrapper">
    <small class="p-footer__copyright"
      >Copyright © 石井花壇 All Rights Reserved.</small
    >
  </div>
</footer>
<!-- End of l-footer -->
