<!-- l-header -->
<header class="l-header l-header--sub">
  <div class="l-header__inner p-header__inner">
    <div class="p-header__logo">
      <a href="<%= pages.home.link %>" class="p-header__logo-link"
        ><img
          src="<%= siteInfo.path.img.common %>header-logo-black.svg"
          alt="石井花壇のロゴ"
          width="200"
          height="40"
      /></a>
    </div>
    <nav class="p-header__nav p-header__nav--sub">
      <ul class="p-header__nav-list">
        <li class="p-header__nav-list-item">
          <a href="<%= pages.room.link %>">お部屋</a>
        </li>
        <li class="p-header__nav-list-item">
          <a href="<%= pages.menu.link %>">お料理</a>
        </li>
        <li class="p-header__nav-list-item">
          <a href="<%= pages.onsen.link %>">温泉</a>
        </li>
      </ul>
    </nav>
    <%- include('./_modal') %>
    <button
      type="button"
      id="js-hamburger-trigger"
      class="p-hamburger p-hamburger--sub"
    >
      <span class="p-hamburger__line"> </span>
    </button>
  </div>
</header>
<!-- End of l-header -->
