<!-- head -->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= meta.title %></title>
  <meta name="title" content="<%= meta.title %>" />
  <meta name="description" content="<%= meta.description %>" />
  <!-- noindex -->
  <meta name="robots" content="noindex" />
  <!-- favicon -->
  <link rel="icon" href="<%= siteInfo.path.img %>favicon.svg" />
  <!-- Google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <!-- Adobe font -->
  <!-- reset.css destyle -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/destyle.css@4.0.0/destyle.min.css"
  />
  <!-- favicon -->
  <link rel="icon" href="<%= siteInfo.path.img %>favicon.svg" />
  <!-- Google font -->
  <!-- Adobe font -->
  <!-- AOS.js -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer></script>
  <!-- swiper css js  -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
  />
  <script
    src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"
    defer
  ></script>
  <!-- flatpickr topモーダル日付カレンダー選択  -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
  />
  <script src="https://cdn.jsdelivr.net/npm/flatpickr" defer></script>

  <!-- original css -->
  <link rel="stylesheet" href="<%= siteInfo.path.css %>style.css" />
</head>
<!-- End head -->
