<!-- l-header -->
<header class="l-header js-header">
  <div class="l-header__inner p-header__inner">
    <h1 class="p-header__logo">
      <a
        href="<%= pages.home.link %>"
        class="p-header__logo-link p-header__logo-link--top"
        ><img
          src="<%= siteInfo.path.img.common %>header-logo-white.svg"
          alt="石井花壇のロゴ"
          width="200"
          height="40"
          class="p-header__logo-img--before"
        />
        <img
          src="<%= siteInfo.path.img.common %>header-logo-black.svg"
          alt="石井花壇のロゴ"
          width="200"
          height="40"
          class="p-header__logo-img--after"
        />
      </a>
    </h1>
    <nav class="p-header__nav">
      <ul class="p-header__nav-list">
        <li class="p-header__nav-list-item">
          <a href="<%= pages.room.link %>">お部屋</a>
        </li>
        <li class="p-header__nav-list-item">
          <a href="<%= pages.menu.link %>">お料理</a>
        </li>
        <li class="p-header__nav-list-item">
          <a href="<%= pages.onsen.link %>">温泉</a>
        </li>
      </ul>
    </nav>

    <%- include('./_modal') %>
    <button type="button" id="js-hamburger-trigger" class="p-hamburger">
      <span class="p-hamburger__line"> </span>
    </button>
  </div>
</header>
<!-- End of l-header -->
