<!-- head -->

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= pages.home.title %></title>
  <meta name="title" content="<%= pages.home.title %>" />
  <meta name="description" content="<%= pages.home.description %>" />
  <!-- reset.css destyle -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/destyle.css@4.0.0/destyle.min.css"
  />
  <!-- favicon -->
  <link rel="icon" href="<%= siteInfo.path.img %>favicon.svg" />
  <!-- Google font -->
  <!-- Adobe font -->
  <!-- AOS.js -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer></script>
  <!-- original css -->
  <link rel="stylesheet" href="<%= siteInfo.path.css %>style.css" />
</head>
<!-- End head -->
