<% Object.keys(items).forEach(function(key) { %>
<section class="<%= items[key].class %>" data-aos="fade-up">
  <div class="p-media__img">
    <img src="<%= siteInfo.path.img.default %><%= items[key].img %>" alt="" />
  </div>
  <div class="p-media__content">
    <h2 class="p-media__title"><%= items[key].title %></h2>
    <p class="p-media__text"><%- items[key].text %></p>
    <p class="p-media__note"><%- items[key].note %></p>
  </div>
</section>
<% }) %>
