<!DOCTYPE html>
<html lang="ja">
  <%- include('./_inc/_head', {meta: pages.onsen}) %>

  <body>
    <%- include('./_inc/_header-sub') %>
    <!-- l-main -->
    <div class="l-main">
      <%- include('./_inc/_page-title', {page: pageTitle.onsen}) %>
      <div class="p-page__body">
        <%- include('./_inc/_breadcrumbs') %>
        <div class="p-page__lead-wrapper">
          <p class="p-page__lead"><%- pageContent.onsen.lead %></p>
        </div>
        <div class="p-page__media-wrapper">
          <%- include('./_inc/_page-content', {items: pageContent.onsen.items})
          %>
        </div>
      </div>
    </div>
    <!-- End of l-main -->

    <%- include('./_inc/_footer') %>

    <!-- original js -->
    <script
      type="text/javascript"
      defer
      src="<%= siteInfo.path.js %>main.js"
    ></script>
  </body>
</html>
