<!DOCTYPE html>
<html lang="ja">
  <%- include('./_inc/_head', {meta: pages.onsen}) %>

  <body>
    <%- include('./_inc/_header-sub') %>
    <!-- l-main -->
    <div class="l-main">
      <%- include('./_inc/_page-title', {page: pageTitle.onsen}) %>
      <div class="p-page__body">
        <%- include('./_inc/_breadcrumbs') %>
        <div class="p-page__lead-wrapper">
          <p class="p-page__lead"><%- pageContent.onsen.lead %></p>
        </div>
        <div class="p-page__media-wrapper">
          <%- include('./_inc/_page-content', {items: pageContent.onsen.items})
          %>
        </div>
        <div class="p-page__dl-wrapper">
          <h2 class="p-page__dl-title">温泉の効能</h2>
          <dl class="p-page__dl">
            <div class="p-page__dl-item">
              <dt class="p-page__dl-term">効能</dt>
              <dd class="p-page__dl-description">
                神経痛・慢性関節リューマチ・腰痛・冷え性・慢性婦人病・うちみなど
              </dd>
            </div>
            <div class="p-page__dl-item">
              <dt class="p-page__dl-term">泉質</dt>
              <dd class="p-page__dl-description">
                ナトリウム・カルシウム-塩化物泉
              </dd>
            </div>

            <div class="p-page__dl-item">
              <dt class="p-page__dl-term">飲用効果</dt>
              <dd class="p-page__dl-description">
                弱塩化物泉は肌にやわらかなため、高齢者や病後の回復期によく、飲用すれば慢性便秘や慢性消化
                器病に効果があります。
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
    <!-- End of l-main -->

    <%- include('./_inc/_footer') %>

    <!-- original js -->
    <script
      type="text/javascript"
      defer
      src="<%= siteInfo.path.js %>main.js"
    ></script>
  </body>
</html>
